body {
    height: 100%;
 	background-image: url(../Content/img/background.jpg);
    color: white;
    font-weight: 700;
  
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/*Style for Entry Index*/

 .app-name {
     text-align: center;
     margin-bottom: 15px;
 } 

ul {
   -moz-column-count: 3;
   -moz-column-gap: 40px;
   -webkit-column-count: 3;
   -webkit-column-gap: 40px;
   column-count: 3;
   column-gap: 40px;
   -webkit-column-width: 250px;
      -moz-column-width: 250px;
           column-width: 250px;
          
}

li {
    list-style: none;
}

.card {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
}

.card:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-title {
    text-align: center;
}

.card-header {
    text-align: center;
    font-size: x-large;
    background-color: #6BA3A4;
}

.card-block {
    padding-left: 20px;
   
}

.card-footer {
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
}

.btn{
    background-color:#6BA3A4;
    color: white;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    font-weight: 700;

}

.action-link {
    font-size: large;
}




